/*!
 * Mastertech - Blog Home
 * Insira seu código entre os comentários localizados no fim desta pagina ou/e
 * Edite o código do layout original
 */


/* Edite o código abaixo para mudar as opções do layout original */

body {
    padding-top: 54px;
}
.logo{
	font-size: 33px;
    text-shadow: 2px 2px #000;
}

.icones{
	margin-left: 70px;
}

.element-style{
	margin-left: 1px;
}

.tamanho{
	font-size: 20px;
}

i.tamanho-logo{
	font-size: 100px;
}
/*Ajusta o layout de acordo com o tamanho da tela*/

@media (min-width: 992px) {
    body {
        padding-top: 100px;
    }
}
.styleLogin
{
	padding: 10% 35% 0% 35%;
}

.colorLogin{
	color: white;
}

.colorshadow{
	text-shadow: 2px 2px #000
}

.colornav{
	background-color: #2fbc6e;
}

.tamanha{
	font-size: 50px
}

.imagem{
	width: 600px
}
/* Inicio do meu CSS */

.pequena{
	width: 110px
}

.margem1{
    margin-left: -100px;
}

.margem2{
	margin-left: -199px;
}

.letratamanho{
	font-size: 30px
}

.logos {
    font-size: 35px !important;
    text-shadow: 2px 2px #000 !important;
}

.denuncia {
    background-color: #fff;
    color: #ff0632;

/* Fim do meu CSS */
