<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Blog Home - Mastertech Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Importa o CSS utilizado neste projeto -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body ng-app="questioned">

    <!-- Navegação -->
    <nav class="navbar navbar-expand-lg navbar-dark colornav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><i class="fa fa-cube navbar-brand logos" id="tamanhologo"></i><B class="logo">  QUESTIONED</B></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link tamanho" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tamanho" href="#" data-toggle="modal" data-target="#exampleModal" >Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tamanho" href="perfiljayane.html">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tamanho" href="Login.html" target="_blank"> Login </a>
                        
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /Navegação -->

    <!-- Conteúdo da Pagina -->
    <div class="container" ng-controller="QuestionedController">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="my-4">You are the last piece of the puzzle!</h1>

<div class="card mb-4" ng-repeat="item in perguntas">
                    <div class="card-body">
                        <p class="card-title"> <B>{{item.titulo}}</B> </p>
                        <p class="card-text"> <B> Jayane: </B> {{item.pergunta}}</p>
                        <p class="card-text"> <B> Luiz: </B> {{item.resposta}} </p>
                        <a href="#" class="btn btn-primary" ng-click="inserirResposta(item)">Responder &rarr;</a>

                        <input type="text" placeholder="Resposta" ng-model="dados.resposta" ng-show="exibir">


                   <div class="row">
                    <a onclick="corrosa(this)"><i class="fas fa-heart"></i></a>
                    <a onclick="corazul(this)" class="icones"><i class="far fa-frown"></i></a>
                    <a onclick="coramarelo(this)" class="icones"><i class="far fa-star"></i></a>
                    <a onclick="corverde(this)" class="icones"><i class="fas fa-trash-alt"></i></a>
                    <a onclick="corroxo(this)" href="chat.html" target="_blank" class="icones"><i class="far fa-comment-alt"></i></a>                        <button class="btn btn-default btn-xs dropdown-toggle denuncia" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <i class="fas fa-bullhorn"></i> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    Denúnciar conteúdo
  </ul>
</div>
  </div>
                    <div class="card-footer text-muted">
                        Postado em {{item.data}} por
                        <a href="perfiljayane.html">Jayane</a>
                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Poste sua pergunta!</h2>
                             <div class="form-group">
                             <input type="text" class="form-control" id="usr" placeholder="Título" ng-model="dados.titulo">
                             <input type="text" class="form-control" id="usr" placeholder="Pergunta" ng-model="dados.pergunta">
                             </div>
                        <button class="btn btn-secondary" type="button" ng-click="inserirPergunta()">Postar</button>
                    </div>
                </div>
</div>
 
                

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Buscar</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->

                <div class="card my-4">
                    <h5 class="card-header">Categorias</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                   <select class="form-control" id="sel1">
                                        <option>Artes</option> </a>
                                        <option>Biologia</option> </a>  
                                        <option>Espanhol</option>
                                        <option>Filosofia</option>
                                        <option>Física</option>
                                        <option>Geografia</option>
                                        <option>História</option>
                                        <option>Inglês</option>
                                        <option>Matemática</option>
                                        <option>Português</option>
                                        <option>Química</option>
                                        <option>Sociologia</option>

  </select>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <a href="grupo.html">
                    <h5 class="card-header"> <button class="btn btn-secondary" type="button">+</button> </a> Crie um grupo! </h5>
                    <div class="card-body">
                        Crie um grupo para falar com seus amigos e descobrir o que eles estão fazendo!           
                              
                    </div>
                </div>

            </div>
        </div>
    </div>




    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog " aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header colornav">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-cube tamanho-logo colorshadow colorLogin"></i>Quem somos nós</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Questioned foi desenvolvido por alunos de Ensino Médio,  com o objetivo de criar uma rede para facilitar a comunicação entre pessoas que possuem dúvidas e respostas. Se você está em busca de ajuda ou com vontade de ajudar agregando conhecimento, você veio ao lugar certo! </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div>
    <!-- /Conteúdo da Pagina -->

    <!-- Rodapé -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Questioned 2017</p>
        </div>
    </footer>
    <!-- /Rodapé -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- é necessáro incluir o arquivo do framework -->
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/scriptCor.js"></script>

    <!-- Importa o Javascript utilizado neste projeto -->
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</body>

</html>
